* {
    margin: auto;
    font-family: cursive;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.container {
    display: flex;
    justify-content: space-evenly;
}
.box {
    padding: 70px;
    background-color: yellow;
    color: rgb(0, 0, 255);
    text-align: center;
}
.btn {
    text-decoration: none;
    background-color: blue;
    padding: 10px 20px;
    color: #000000;
    border: 2px solid yellow;
}
#quest_log {
    margin-top: 20px;
    margin-left: 16%;
}
.footer {
    text-align: center;
}